{% extends 'home.html' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.13.4/DataTables-1.13.4/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/datatables-1.13.4/Responsive-2.4.1/css/responsive.bootstrap5.min.css' %}">
    <script src="{% static 'lib/datatables-1.13.4/DataTables-1.13.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.13.4/DataTables-1.13.4/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.13.4/Responsive-2.4.1/js/dataTables.responsive.min.js %}"></script>
    <script src="{% static 'lib/datatables-1.13.4/Responsive-2.4.1/js/responsive.bootstrap5.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="text-center text-dark m-2">Bienvenido al Gestor de Dispositivos de Smart-IP</h1>
    <div class="card card-default m-3">
        <div class="card-header">
            <h3 class="card-title p-2">
                <i class="fas fa-list"></i>
                {{title}}
            </h3>
        </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    {% block columns %}

                    {% endblock %}
                </thead>
                <tbody>
                    {% block rows %}

                    {% endblock %}
                </tbody>
            </table>
            <div class="card-footer bg-dark">
                <button class="btn btn-primary">
                    <i class="fas fa-plus"></i> Nuevo registro
                </button>
            </div>
        </div>
    </div>
{% endblock %}
