{% extends 'home.html' %}

<h1 class="text-center text-dark m-2">Bienvenido al Gestor de Dispositivos de Smart-IP</h1>
<div class="card card-default m-3">
    <div class="card-header">
        <h3 class="card-title p-2">
            <i class="fas fa-list"></i>
            {{title}}
        </h3>
    </div>

    <div class="card-body">
        <table class="table table-dark text-light table-striped">
            <thead>
                {% block columns %}

                {% endblock %}
            </thead>
            <tbody>
                {% block rows %}

                {% endblock %}
            </tbody>
        </table>
        <div class="card-footer bg-dark">
            <button class="btn btn-primary">
                <i class="fas fa-plus"> Nuevo registro</i>
            </button>
        </div>
    </div>

</div>
