{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Id</th>
        <th scope="col" style="width: 70%;">Tipo de Dispositivo</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for d in object_list %}
    <tr>
        <th scope="row">{{ d.id }}</th>
        <td>{{ d.dev_type }}</td>
        <td>
            <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
{% endblock %}